Source: ffcast
Section: x11
Priority: optional
Maintainer: Javier López <m@javier.io>
Build-Depends: debhelper (>= 7.0.5), libx11-dev, bash-completion
Standards-Version: 3.9.4
Homepage: https://github.com/javier-lopez/ffcast
Vcs-Git: git://github.com/javier-lopez/ffcast-deb.git
Vcs-Browser: https://github.com/javier-lopez/ffcast-deb.git

Package: ffcast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libav-tools|ffmpeg|recordmydesktop, x11-utils
Description: Screen recording wrapper for Unix cli screencast utilities
 ffcast helps the user interactively select a screen region and hands over the
 geometry to an external command, such as ffmpeg, for screen recording.
